# Workflow to check whether changes to master fulfill all requirements.
name: Status checks

on:
  push:
    branches: [ master ]
  pull_request:
  schedule:
    # Run every monday on 9:00 in the morning (UTC).
    - cron: "0 9 * * 1"
  # Make it possible to trigger the checks manually.
  workflow_dispatch:

jobs:

    build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4

        - name: Build Docker image
          run: docker build .

    analyze:
      needs: build
      runs-on: ubuntu-latest
      permissions:
        actions: read
        contents: read
        security-events: write
      steps:
        - uses: actions/checkout@v4

        - uses: actions/setup-java@v4
          with:
            java-version: '17'
            distribution: temurin
            cache: maven

        - name: Initialize CodeQL
          uses: github/codeql-action/init@v2
          with:
            languages: java
            queries: security-and-quality

        - name: Autobuild
          uses: github/codeql-action/autobuild@v2

        - name: Perform CodeQL Analysis
          uses: github/codeql-action/analyze@v2
          with:
            category: "/language:java"
